<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.kickpi.diagnostics">
  <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="35" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
  <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:usesPermissionFlags="neverForLocation" />
  <application android:label="K11C diagnostics" android:theme="@android:style/Theme.Material.Light.NoActionBar">
    <activity android:name=".ProbeActivity" android:exported="false" />
  </application>
  <instrumentation android:name=".Probe" android:targetPackage="org.kickpi.diagnostics" android:label="K11C functional probes" />
</manifest>
